/* General Reset */
* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    background-color:#2980b9;
    height:100vh;
    padding-top:1px;
}

.title {
    font-size: 48px;
    color: #f1ebeb;
    margin-top: 10%;
    text-align:center;
}

.display {
    margin-bottom: 1em;
    color:rgb(240, 236, 238);
    text-align:center;
    margin-top:1em;
}
.hide{
    display:none;
}
.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
}

.tile {
border:1px solid rgb(214, 201, 201);
min-width:100px;
min-height:100px;
display:flex;
justify-content:center;
align-items:center;
font-size:50px;
cursor:pointer;
}
.player X{
    color:aquamarine;
}
.playerO{
    color:#29b989;
}
.controls{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    margin-top:1em;
}
.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.restart {
    background-color: #498AFB;
}


#reset{
    background-color: #9c29b9;
    color:aqua;
    padding:8px;
    border-radius: 8px;
    border:none;
    font-size:20px;
    margin-left:1em;
    cursor:pointer;

}